#splash {
  width: 8%;
  min-width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: show-splash 0.5s linear 0.5s forwards;
  opacity: 0;
}

@keyframes show-splash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#splash>img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.splash-spinner {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  margin: 2px 0 0 2px;
  animation: splash-spinner-rotator 1.4s linear infinite;
}

.splash-spinner-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke: #ffffff;
  transform-origin: center;
  animation: splash-spinner-dash 1.4s ease-in-out infinite;
}

@keyframes splash-spinner-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes splash-spinner-dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}